
  <label>Reference</label>
  <br></br>

<div class="ui form">
  <div class="field">
    <h2>Referee First Name*</h2>
    <textarea rows="2"></textarea>
  </div>
  <div class="field">
    <h2>Referee Last Name*</h2>
    <textarea rows="2"></textarea>
  </div>
  <div class="field">
    <h2>Referee Organisation*</h2>
    <textarea rows="2"></textarea>
  </div>
  <div class="field">
    <h2>Referee Position Title*</h2>
    <textarea rows="2"></textarea>
  </div>
  <div class="field">
    <h2>Referee Phone Number*</h2>
    <textarea rows="2"></textarea>
  </div>
  <div class="field">
    <h2>Referee Email*</h2>
    <textarea rows="2"></textarea>
  </div>
  <div class="field">
    <h2>Candidate Name*</h2> -- Can this self populate?
    <textarea rows="2"></textarea>
  </div>
  <div class="field">
    <h2>Candidate Role Applied For*</h2>
    <textarea rows="2"></textarea>
  </div>
</div>
<div class="ui form">
  <div class="field">
    <h2>Have you worked with the candidate in the last two years?*
</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Yes</option>
        <option value="">No</option>
      </select>
  </div>
</div>
<div class="field">
  <h2>Which Organisation did you work in with the candidate?*</h2>
  <textarea rows="2"></textarea>
</div>
<div class="ui form">
  <div class="field">
    <h2>Have you known the candidate for more than 3 months?*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Yes</option>
        <option value="">No</option>
      </select>
  </div>
</div>
<div class="ui form">
  <div class="field">
    <h2>Did you work with the candidate for three or more consecutive months?*
</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Yes</option>
        <option value="">No</option>
      </select>
  </div>
</div>
<div class="ui form">
  <div class="field">
    <h2>Please provide the approximate dates the candidate worked with you*</h2>
    <textarea rows="2"></textarea>
  </div>
</div>
<h1>Please rate the candidate against the following criteria</h1>
<h2>Clinical Ability and Knowledge</h2>
<div class="ui form">
  <div class="field">
    <h2>Clinical Knowledge*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Clinical Judgement*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Practical Skills*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Supervisory Skills*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
</div>
<h1>General attitude/teamwork</h1>
<div class="ui form">
  <div class="field">
    <h2>Ability to work under pressure*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Ability to take direction*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Ability to work in a team*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Ability to meet deadlines*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Flexible and willing to assist*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Honesty and Trustworthiness*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Punctuality and Reliability*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Attendance record*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Grooming and presentation*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
</div>
<h1>Communication Skills</h1>
<div class="ui form">
  <div class="field">
    <h2>Written*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>Verbal*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>With patients and relatives*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>With supervisors*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>With colleagues*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
  <div class="field">
    <h2>With subordinate staff*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Excellent</option>
        <option value="">Very Good</option>
        <option value="">Good</option>
        <option value="">Poor</option>
        <option value="">N/A</option>
      </select>
  </div>
</div>
<div class="ui form">
  <div class="field">
    <h2>What areas do you believe the candidate may require further development in?*</h2>
    <textarea rows="5"></textarea>
  </div>
  <div class="field">
    <h2>In your opinion, how well does the candidate accept constructive feedback?*</h2>
    <textarea rows="5"></textarea>
  </div>
  <div class="field">
    <h2>How comfortable would you feel having the candidate treat a member of your family?*</h2>
    <textarea rows="5"></textarea>
  </div>
</div>
<div class="ui form">
  <div class="field">
    <h2>In your opinion, would you hire this candidate?*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Yes</option>
        <option value="">No</option>
      </select>
  </div>
</div>
<div class="ui form">
  <div class="field">
    <h2>Please provide further comments*</h2>
    <textarea rows="5"></textarea>
  </div>
  <div class="field">
    <h2>Do you have any concerns or reservations in recommending this candidate for employment?*</h2>
    <textarea rows="5"></textarea>
  </div>
</div>
<div class="ui form">
  <div class="field">
    <h2>Would you like to discuss this reference with a member of our team?*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">No</option>
        <option value="">Yes</option>
      </select>
  </div>
</div>
<div class="ui form">
  <div class="field">
    <h2>Please provide any additional comments you wish to make</h2>
    <textarea rows="10"></textarea>
  </div>
</div>
<div class="ui form">
  <div class="field">
    <h2>Do you permit us to discuss this reference with the candidate, and our client?*</h2>
      <select class="ui search dropdown"><div class="ui selection dropdown">
        <option value="">Yes</option>
        <option value="">No</option>
      </select>
  </div>
</div>
<h2>This information is a formal request for a character and performance reference for the candidate named above. Your comments will be treated in the strictest confidence however it should be known that the information you provide on this form will be used as part of the assessment process in deciding the candidate's suitability for employment; as such we may be required to divulge certain information contained in this reference.</h2>
<div class="ui form">
  <div class="field">
    <h2>Signature</h2>
    <textarea rows="10"></textarea>
  </div>
</div>
<h2>Please use your mouse (or finger on tablet devices/smartphones) to draw your signature below.  Please sign slowly, directly on the black signature line.</h2>
<div class="ui form">
  <div class="field">
    <h2>Date</h2>
    <textarea rows="1"></textarea>
  </div>
</div>
<br>
<br/>
<div class="ui form success">
  <div class="field">
    <h1>E-mail</h1>
    <input type="email" placeholder="joe@schmoe.com">
  </div>
  <div class="ui success message">
  <div class="header">Form Completed</div>
    <h2>Thank you for taking the time to complete this report.  It is an important part of recruitment.</h2>
  </div>
</div>
<button style="font-size:24px">Save <i class="material-icons">cloud_upload</i></button>
</div>
