  <label>Influenza</label>
  <br></br>
  <div class="field">
    <h2>Vaccine Name</h2>
    <textarea rows="2"></textarea>
  </div>
  <div class="field">
    <h2>Batch Number</h2>
    <textarea rows="2"></textarea>
  </div>
<div class="field">
    <h2>Vaccine Provider Name</h2>
      <textarea rows="2"></textarea>
  </div>
  <div class="field">
    <h2>Location</h2>
      <textarea rows="2"></textarea>
  </div>
<div class="field">
    <h2>Provider Contact Number</h2>
      <textarea rows="2"></textarea>
  </div>
<div class="field">
  <h2>Serology</h2>
  <textarea rows="2"></textarea>
</div>
<h2>Vaccination Date</h2><input id="date" type="date">
<br><br/>
<h2>Next Dose Reminder</h2><input id="date" type="date">
<br>
<br />
<div class="field">
  <h2>Notes/Remarks</h2>
  <textarea rows="6"></textarea>
</div>
<br>
<br />
<button style="font-size:24px">Scan <i class="material-icons">scanner</i></button>
<button style="font-size:24px">Upload <i class="material-icons">attach_file</i></button>
<button style="font-size:24px">Save <i class="material-icons">cloud_upload</i></button>
<button style="font-size:24px">Delete <i class="material-icons">delete</i></button>
