<label>Welcome to Doctor Creds!</h1><i class="home icon"></label>

<h2>To start saving your documents, please click on one of the following folders.</h2>

<ui>
	<img src="https://www.doctorcreds.com/documents"><button style="font-size:24px">Documents <i class="material-icons">folder</i></button><br><br />
	<img src="https://www.doctorcreds.com/Certificates"><button style="font-size:24px">Certificates <i class="material-icons">book</i></button><br><br />
	<img src="https://www.doctorcreds.com/Vaccination_Label"><button style="font-size:24px">Vaccinations <i class="material-icons">local_hospital</i></button><br><br />
	<img src="https://www.doctorcreds.com/Provider-Prescriber_Label"><button style="font-size:24px">Provider/Prescriber <i class="material-icons">create_new_folder</i></button><br><br />
	<img src="https://www.doctorcreds.com/documents"><button style="font-size:24px">Identity <i class="material-icons">assignment_ind</i></button><br><br />
	<img src="https://www.doctorcreds.com/documents"><button style="font-size:24px">Notes <i class="material-icons">folder_open</i></button><br><br />
</ui>