  <label>Influenza</label>
  <br></br>
  <div class="ui form">
    <div class="field">
      <label>Vaccine</label>
      <input type="text">
    </div>
  </div>
  <div class="ui form">
  <div class="field">
    <label>Batch Number</label>
    <input type="text">
  </div>
</div>
<div class="ui form">
  <div class="field">
    <label>Vaccine Provider Name</label>
    <input type="text">
  </div>
</div>
<div class="ui form">
  <div class="field">
    <label>Location</label>
    <input type="text">
  </div>
</div>
<div class="ui form">
  <div class="field">
    <label>Provider Contact Number</label>
    <input type="text">
  </div>
</div>
<div class="ui form">
  <div class="field">
    <label>Serology</label>
    <input type="text">
  </div>
</div>
<label>Vaccination Date</label><input id="provider number" type="number">
  </div>
  <br><br />
<label>Vaccination Date</label><input id="date" type="date">
<br><br />
<Label>Next Dose Reminder</label><input id="date" type="date">
</div>
<br>
<br />
<div class="field">
  <label>Short Text</label>
  <textarea rows="6"></textarea>
</div>
<button class="ui primary button">
  Scan
</button>
<button class="ui primary button">
  Upload
</button>
<button class="ui primary button">
  Save
</button>
<button class="ui button">
  Discard
</button>
<i class="plus circle icon"></i>
